<div class="col-sm-12">
  <h2 class="collect-title"></h2>
  <form>
    <div class="prompt-list">
    </div>
    <div class="prompt-bucket">
    </div>
    <div class="prompt-submit-text">
    </div>
    <div class="prompt-success">
      Artifact successfully uploaded.
    </div>
    <button type="button" class="btn btn-primary collect-back">
      <img src="images/collect/arrow-left.png"> Back
    </button>
    <button type="button" class="btn btn-primary collect-next">
      Next <img src="images/collect/arrow-right.png">
    </button>
    <button type="button" class="btn btn-primary collect-submit">
      Submit <img src="images/collect/arrow-right.png">
    </button>
    <button type="button" class="btn btn-primary collect-done">
      Done <img src="images/collect/arrow-right.png">
    </button>
  </form>
</div>
