<div class="user-details">
  <div class="row spaced">
    <h1 class="app-blue-font">Create User</h1>
  </div>
  <div class="row spaced">
    <table class="user-details-tables app-blue-font col-sm-4">
      <tbody>
        <tr>
          <td class="titles">User Name</td>
          <td>
            <input id="usernameBox"  class="col-sm-12" type="text"  placeholder="Username">
          </td>
        </tr>
        <tr>
          <td class="titles">Password</td>
          <td>
            <input id="passwordBox" class="col-sm-12" type="text" placeholder="Password" >
          </td>
        </tr>
        <tr>
        <tr>
          <td class="titles">First Name</td>
          <td>
            <input id="firstNameBox" class="col-sm-12" type="text" placeholder="First Name">
          </td>
        </tr>
        <tr>
          <td class="titles">Last Name</td>
          <td>
            <input id="lastNameBox"  class="col-sm-12" type="text" placeholder="Last Name">
          </td>
        </tr>
        <tr>
          <td class="titles">Email Address</td>
          <td>
            <input id="emailBox" type="text" class="col-sm-12" placeholder="Email">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row spaced">
    <table class="app-blue-font user-details-tables col-sm-4">
      <tbody>
      <tr>
        <th class="titles">
          User Roles
        </th>
      </tr>
      <tr>
        <td class="styled-radio">
          <input id="teacher" type="radio" name="role" value="teacher">
          <label for="teacher">Teacher</label>
        </td>
      </tr>
      <tr>
        <td class="styled-radio">
          <input id="admin" type="radio" name="role" value="admin">
          <label for="admin">Admin</label>
        </td>
      </tr>
      <tr>
        <td class="styled-radio">
          <input id="evaluator" type="radio" name="role" value="evaluator">
          <label for="evaluator">Evaluator</label>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row spaced">
    <button type="submit" class="btn-styled"  id="saveUser">
      <span>
        <img src="images/save.png">
      </span>
      Create User
    </button>
  </div>
</div>
