<h1 class="app-blue-font">User View</h1>
<div class="spacing-medium"></div>
<button  onclick="window.location.href='#user/new'" class='btn-styled button'>
      <span>
        <img src="images/add.png">
      </span>
  Create New User
</button>
<div class="spacing-medium"></div>

<table id="users" class="users-table app-blue-font">
  <thead class='titles'>
  <th class="small-padded"></th>
  <th>User Name</th>
  <th>Role</th>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email Address</th>
</thead>
<tbody>

</tbody>
</table>
