<div class="col-sm-3 form-group">
  <label>Teacher:</label>
  <span id="teachers-filter"></span>
</div>
<div class="col-sm-3 form-group">
  <label>Portfolio:</label>
  <span id="portfolios-filter"></span>
</div>
<div class="tablet-break"></div>
<div class="col-sm-2 form-group">
  <label>Artifact:</label>
  <span id="artifacts-filter"></span>
</div>
<div class="col-sm-2 form-group">
  <label>Question:</label>
  <span id="questions-filter"></span>
</div>
<div class="col-sm-2 form-group">
  <label>Media Type:</label>
  <span id="mediatypes-filter"></span>
</div>
