<td class="teacher">
  <%= user %>
</td>
<td class="portfolio">
  <%= portfolio %>
</td>
<td class="initial underline"><span class="<% if (initialCount > 0) { %>btn-link <% } %>btn"><%= initialCount %></span></td>
<td class="instruction underline"><span class="<% if (instructionCount > 0) { %>btn-link <% } %>btn"><%= instructionCount %></span></td>
<td class="assessment underline"><span class="<% if (assessmentCount > 0) { %>btn-link <% } %>btn"><%= assessmentCount %></span></td>
<td class="concluding underline"><span class="<% if (concludingCount > 0) { %>btn-link <% } %>btn"><%= concludingCount %></span></td>
<td class="total underline"><span class="<% if (totalCount > 0) { %>btn-link <% } %>btn"><%= totalCount %></span></td>
